.baner{
    width: 40%;
    margin: auto;
    display: block;
     }

.texto{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.trator{
     width: 40%;
  margin: auto;
  display: block;
}