.baner{
    width: 40%;
    margin: auto;
    display: block;
     }

.texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trator{
     width: 40%;
  margin: auto;
  display: block;
}

.favela{
    width: 40%;
    margin: auto;
    display: block;
}

.cidade{
    width: 40%;
    margin: auto;
    display: block;
}
